.kv-grid-table {
    margin-top: 10px;
}

#crud-datatable-container {
    margin-top: -10px;
}
.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    overflow: hidden;
    position: fixed;
    background: #0b0b0bdb;
    opacity: 0.8;
}

.btn-xem-chi-tiet {
    box-shadow: 2px 2px #88888880;
    border-radius: 5px !important;
}
.btn-xem-chi-tiet:hover {
    background-color: #0078AA;
}
.yeu-cau-xac-thuc-index tr#crud-datatable-filters td:nth-child(n+6) {
    display: none;
}

.nhommau-index tr#crud-datatable-filters td:nth-child(n+2) {
    display: none;
}
.user-index tr#crud-datatable-filters td:nth-child(n+6) {
    display: none;
}
.yeu-cau-xac-thuc-index tr#crud-datatable-filters td:last-child {
    display: none;
}
.doanh-nghiep-index tr#crud-datatable-filters td:nth-child(n+8) {
    display: none;
}
.doanh-nghiep-xac-minh-index tr#crud-datatable-filters td:nth-child(n+5) {
    display: none;
}
.banner-app-index tr#crud-datatable-filters td:nth-child(n+6) {
    display: none;
}
.giao-dich-index tr#crud-datatable-filters td:last-child {
    display: none;
}

.don-hang-index tr#crud-datatable-filters td:last-child {
    display: none;
}

.icon-notify {
    position: absolute;
    top: -14px;
    right: -24px;
    font-size: 30px;
    color: red;
}


.badge-danger {
    position: absolute;
    left: -5px;
    padding: 5px 5px;
    border-radius: 50%;
    background: red;
    color: white;
}